<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;

    }
    body{
        background: #fcfcfc;
    }
    .f1{
        position:relative;
        bottom:0;
        left:0;
        right:0;
        background-color: #111;
        height:230px;
        font-family: Poppins;
        color:aliceblue;
       

    }
    .first{
        text-align: center; 
        margin:30px;     
    }

     .icon li{
         display:flex;
         align-items: center;
        justify-content: center;
        text-align: center; 
        color:aliceblue;
        display:inline-block;
        padding:0px 20px;
        
     }
     .icon li a:hover{
        color:red;
     }
    
     .icon li a{
        color:lightblue;
        text-shadow: 4px 2px 8px skyblue;

    }
.last p{
    text-align: center;
    background-color: black;
    text-decoration: overline;

}
.f1 h3,p{
    text-align: center;
    
}

.f1 h3{
    font-size: 20px;
    text-shadow:4px 4px 8px blue;
    padding:20px;
}


</style>